section {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

section span {
    background-color: transparent;
    border: none;
}

.options button {
    font-family: inherit;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    margin: 0 2rem;
    color: black;
    font-size: 90%;
}

.options button:hover {
    cursor: pointer;
}